<% provide(:title, @friend.name) %>
<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span4">
    <p>
	 <%= gravatar_for @friend %>
	<p>
	  <b>Name:</b>
	  <%= @friend.name %>
	</p>

	<p>
	  <b>Email:</b>
	  <%= @friend.email %>
	</p>
  </aside>

<div class="span8">
	<table>
	  <tr>
	    <th>Amount</th>
	    <th>Status</th>
	    <th>Type</th>
	    <th>Time Left</th>
	    <th width="90"></th>
	    <th width="90"></th>
	  </tr>
			<% @transactions.each do |transaction| %>	
			  <tr>
			    <td>€ <%= transaction.amount %></td>
			    <td><%= whatType(transaction.t_type) %></td>
				<td><%= whatStat(transaction.status) %></td>
			    <td><%= distance_of_time_in_words(Time.now, transaction.deadline) %></td>
			    <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
			    <td> <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' }%></td>
			  </tr>
			<% end %>
			</table>
			<%= will_paginate @transactions %>
  </div>
</div>





<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
