<% provide(:title, @friend.name) %>
<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span4">
    <p>
	 <%= gravatar_for @friend %>
	<p>
	  <b>Name:</b>
	  <%= @friend.name %>
	</p>

	<p>
	  <b>Email:</b>
	  <%= @friend.email %>
	</p>
  </aside>
<div class="span8">
    <ol class="transactions">
	    <%= render @transactions %>
	  </ol>
  </div>
</div>








<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
