<% provide(:title, @friend.name) %>

<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span4">
    <p>
	 <%= gravatar_for @friend %>
	<p>
	<br><br>
	  <b>Name:</b>
	  <%= @friend.name %>
	  <br><b>Email:</b>
	  <%= @friend.email %>
	</p>
	<%= render 'shared/landborrowbuttons' %>

  </aside>

	<div class="span8">
		<%= render 'shared/transactionsindex' %>
	</div>
</div>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
