<% provide(:title, @user.email) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
<div class="span8">
    <% if @user.transactions.any? %>
      <h3>Transactions (<%= @user.transactions.count %>)</h3>
      <ol class="transactions">
        <%= render @transactions %>
      </ol>
      <%= will_paginate @transactions %>
    <% end %>
  </div>
</div>