<% provide(:title, "Transactions") %>

<div class="row">
  <aside class="span4">
    <section>
      	<h1>Listing transactions</h1>	
		<br><%= link_to 'New Transaction', new_transaction_path %><br>
		<% @transactions.each do |transaction| %>
		<br>
		<% if transaction.t_type == 1%>
		<% 	table_type = "lend_table"  %>
		<% else %>	
		<% table_type = "borrow_table" %>
		<% end %>
		<div class='<%= table_type %>'>
		    <table>
		      <thead>
		        <tr>
		    <th>	<%= link_to Friend.find(transaction.friend_id).name, edit_transaction_path(transaction) %><br><span>€ <%= transaction.amount %>	</span></th>
	        </tr></thead>	
			<tbody>
				<tr class="grey">
					<td>Deadline is in <%= time_diff_in_natural_language(Time.now, transaction.deadline) %></td>
				</tr>
				<tr>
				<% osman = Friend.find(transaction.friend_id).name %>
				<%= link_to image_tag("twitter.png", alt: "Share on Twitter"), posts_path(:tweet => "#{osman} needs to pay !"), :method => :post, :remote => true, :class => "button" %>
				<%= link_to image_tag("facebook.png", alt: "Share on Facebook"), posts_path(:tweet => "#{osman} needs to pay !"), :method => :post, :remote => true, :class => "button" %>
				
				</tr>
				<tr><td>
			    <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' }%>
				<%= link_to "Socialize !", posts_path(:tweet => "#{osman} needs to pay !"), :method => :post, :remote => true, :class => "button" %> 
		
			</td></tr>
			 </tbody>
		    </table>
		  </div>
		<% end %>
			<%= will_paginate %>
		</section>
  </aside>
<div class="span8">
    <h2>Calendar View</h1>
	<div id="transactions">
	
	  <h2 id="month">
	    <%= link_to "<", date: @date.prev_month %>
	    <%= @date.strftime("%B %Y") %>
	    <%= link_to ">", date: @date.next_month %>
	  </h2>
	  <%= calendar @date do |date| %>
	    <%= date.day %>
	    <% if @transactions_by_date[date] %>
	      <ul>
	        <% @transactions_by_date[date].each do |transaction| %>
	          <li><%= link_to Friend.find(transaction.friend_id).name + " - " + transaction.amount.to_s, edit_transaction_path(transaction) %></li>
	        <% end %>
	      </ul>
	    <% end %>
	  <% end %>
	</div>

  </div>
</div>


