<footer class="footer">
  <small>
   	<% if user_signed_in? %>
	  Logged in as <strong><%= current_user.email %></strong>.
	  <%= link_to 'Edit profile', edit_user_registration_path %> |
	  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
	<% else %>
	  <%= link_to "Sign up", new_user_registration_path %> |
	  <%= link_to "Login", new_user_session_path %>
	<% end %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "RailsArena", "http://www.railsarena.com" %></li>
      <li><%= link_to "OCC", "http://www.orhancanceylan.com" %></li>
    </ul>
  </nav>
</footer>